{% extends 'cupApp/base.html' %}
<link rel="stylesheet" href="{% static 'css/BecomePremium.css' %}">
{% block content %}
<!--if user is not authenticated!-->
    <div class="login">
        <p>You have to be logged in to become a premium user.</p>
        <div class="buttons">
            <button onclick="window.location.href = 'LoginPage.html';">Log In</button>
            <button onclick="window.location.href = 'RegisterPage.html';">Register</button>
        </div>
    </div>

<!--if user is authenticated!!-->
    <div class="login">
        <h2>Your coin balance: "coin"</h2>
        <h2>Premium cost: "premiumcost"</h2>
        <h2>Do you want to spend your coins and become a premium?</h2>
        <div class="buttons">
            <button onclick="window.location.href = 'HomepagePremium.html';">Yes</button>
            <button onclick="window.location.href = 'HomepageUser.html';">No</button>
        </div>
    </div>

{% endblock %}
