{% extends 'cupApp/base.html' %}

{% block content1 %}
{% endblock %}

{% block content %}

    <div class="tab1">
        <div class="leaderboard">
            <p>WEEKLY LEADERBOARD</p>
            <table>
                <tr>
                    <th>username</th>
                    <th>score</th>
                </tr>
                {% for score in scores %}
                    {% if forloop.counter <= 10 %}
                        <tr>
                            <td>{{ score.username }}</td>
                            <td>{{ score.score }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </table>
        </div>
        <div class="gamepart">
            <div class="games">
                <p><b>NEW GAMES</b></p>
                <div class="scroll">
                    {% for game in games %}
                        {% if forloop.counter <= 10 %}
                            <div class="card">
                                <a href="{% url 'gamepage' pk=game.game_name %}"><img src="{{ game.thumbnail }}">
                                    <p>{{ game.game_name }}</p></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="games" id="games2">
                <p><b>POPULAR GAMES</b></p>
                <div class="scroll">
                    {% for game in games2 %}
                        {% if forloop.counter <= 10 %}
                            <div class="card">
                                <a href="{% url 'gamepage' pk=game.game_name %}"><img src="{{ game.thumbnail }}">
                                    <p>{{ game.game_name }}</p></a>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
    <div class="categoryBar">
        <p><b>CATEGORIES</b></p>
        {% for category in categorys %}
            <a href="{% url 'categorypage' pk=category.category_name %}">{{ category.category_name }}</a>
        {% endfor %}
    </div>
    <div class="tab2">
        <div class="gamepart2">
            <div class="games">
                <p><b>ALL GAMES</b></p>
                <div class="scroll">
                    {% for game in games3 %}
                        {% if forloop.counter <= 10 %}
                            <div class="card">
                                <a href="{% url 'gamepage' pk=game.game_name %}"><img src="{{ game.thumbnail }}">
                                    <p>{{ game.game_name }}</p></a>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
