{% extends 'cupApp/base.html' %}
{% load static %}
{% block content %}
    <style>
        .ingredients {
            height: 90vh;
        }
    </style>
    <div class="accountsettings">
        <p>{{ error }}</p>
        <h1>CHANGE PASSWORD</h1>
        <img src={% static 'img/CGLogoIcon.png' %}>
        <div>
            <form method="post" action="{% url 'changepassword' pk=account.username %}">
                {% csrf_token %}
                <div class="inputField">
                    <input type="password" id="password_1" placeholder="New password" name="password_1" required>
                </div>
                <div class="inputField">
                    <input type="password" id="password_2" placeholder="Repeat password" name="password_2" required>
                </div>
                <div class="loginbutton">
                    <button type="submit">Submit</button>
                </div><br>
            </form>
        </div>
        <br><h1>CHANGE E-MAIL</h1></br>
        <div>
            <form method="post" action="{% url 'changeemail' pk=account.username %}">
                {% csrf_token %}
                <div class="inputField">
                    <input type="email" id="email" placeholder="Enter your new email.." name="email" required>
                </div>
                <div class="loginbutton">
                   <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}