{% load static %}

<!DOCTYPE html>
<html lang="en">
<title>cupGames</title>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% block content1 %}
    {% endblock %}
    <script src="{% static 'js/script1.js' %}"></script>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <div class="ingredients">
        <div class="header" id="myHeader">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/CGLogo.png' %}" style="width:300px;height:75px;">
                </a>
            </div>

            <div class="header-right">

                <a href="{% url 'leaderboards' %}">
                    <button class="leader">Leaderboards</button>
                </a>


                <a href="{% url 'becomepremium' %}">
                    <button id="becomeP">Become Premium</button>
                </a>

                {% if request.session.username %}

                    <a href="{% url 'profile' pk=request.session.username %}">
                        <button>{{ request.session.username }}</button>
                    </a>
                    <a href="{% url 'logoutpage' %}">
                        <button>Sign Out</button>
                    </a>
                    <input type="text" placeholder="Search..">
                    <button type="button"><img src="{% static 'img/searchicon.png' %}" style="width:20px;height:20px;">
                    </button>

                {% else %}

                    <a href="{% url 'login' %}">
                        <button>Log In</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button>Register</button>
                    </a>
                    <input type="text" placeholder="Search..">
                    <button id="searchiconbutton" type="button"><img src="{% static 'img/searchicon.png' %}"
                                                                     style="width:20px;height:20px;">
                    </button>

                {% endif %}
            </div>
        </div>

        {% if request.session.username %}
            <div class="header2">
                <p1>Welcome, {{ request.session.username }}</p1>
                <p2>You can play "{{ accounts.playLimit }}" more games in "number" hours.</p2>
            </div>
        {% else %}
            <div class="header2">
                <p1>Welcome, Guest</p1>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="bottom">
        <div class="paragraph">
            <p>CUPGAMES IS A WEBSITE WITH SMALL GAMES. CREATED BY BERKE BITEN & ALI ATAHAN TOPAL</p>
        </div>
        <div class="suggest">
            <button onclick="window.location.href = 'SuggestGameGuest.html';"> Suggest a Game</button>
        </div>
    </div>
</div>
</body>
</html>