{% load static %}

<!DOCTYPE html>
<html lang="en">
<title>cupGames</title>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    {% block content1 %}
    {% endblock %}
    <script src="{% static 'js/script1.js' %}"></script>
    <meta charset="UTF-8">
</head>
<body>
<style>
    .fa-refresh{
        margin-left: 5px;
        margin-right: 10px;
        color: #E0AE43;
        font-size: 25px;
    }
</style>
<div class="container">

    <div class="ingredients">
        <div class="header" id="myHeader">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/CGLogo.png' %}" style="width:250px;height:75px;">
                </a>
            </div>

            <div class="header-right">

                <a href="{% url 'leaderboards' %}">
                    <button class="leader">Leaderboards</button>
                </a>


                {% if request.session.username %}
                    <a href="{% url 'becomepremium' pk=request.session.username %}">
                        <button id="becomeP">Become Premium</button>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <button id="becomeP">Become Premium</button>
                    </a>
                {% endif %}

                {% if request.session.username %}

                    <a href="{% url 'profile' pk=request.session.username %}">
                        <button>{{ request.session.username }}</button>
                    </a>
                    <a href="{% url 'logoutpage' %}">
                        <button>Sign Out</button>
                    </a>

                    <a href="{% url 'searchpage' %}">
                        <button id="searchiconbutton" type="button">Search<img src="{% static 'img/searchicon.png' %}"
                                                                               style="width:20px;height:20px;">
                        </button>
                    </a>

                {% else %}

                    <a href="{% url 'login' %}">
                        <button>Log In</button>
                    </a>
                    <a href="{% url 'register' %}">
                        <button>Register</button>
                    </a>
                    <a href="{% url 'searchpage' %}">
                        <button id="searchiconbutton" type="button">Search<img src="{% static 'img/searchicon.png' %}"
                                                                               style="width:20px;height:20px;">
                        </button>
                    </a>

                {% endif %}
            </div>
        </div>

        {% if request.session.username %}
            <div class="header2">
                <p1>Welcome, {{ request.session.username }}</p1>
                <div style="float:right;">
                    <p2>You can play {{ request.session.playLimit }} more games till next day</p2>
                    <a href="{% url 'updatePlayTime' %}"><i title="Refreshes your playLimit if it is a new day" class="fa fa-refresh" aria-hidden="true"></i></a>
                </div>
            </div>
        {% else %}
            <div class="header2">
                <p1>Welcome, Guest</p1>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="bottom">
        <div class="paragraph">
            <p>CUPGAMES IS A WEBSITE WITH MINI GAMES.</p>
            <p>Creators: BERKE BITEN & ALI ATAHAN TOPAL</p>
            <p>Designed as SOFT3111 Course Project</p>

        </div>
        <div class="suggest">
            <a href="{% url 'suggestGame' %}">
                <button>Suggest a Game</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>