{% extends 'cupApp/base.html' %}

{% block content %}



    {% if account.type == "FU" %}
        <div class="login">
            <p> {{ error }}</p>
            <h2>Your coin balance: {{ account.coins }}</h2>
            <h2>Premium cost: 20000</h2>
            <h2>Do you want to spend your coins and become a premium member?</h2>
            <div class="buttons">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="yes">Yes</button>
                </form>
                <a href={% url 'index' %}><button name="no">No</button></a>
            </div>
        </div>
    {% elif account.type == "AD" %}
        <div class="login">
            <p>Admins already have rights of Premiums so u can't buy a premium membership.</p>
        </div>
    {% else %}
        <div class="login">
            <p>You already have premium.</p>
        </div>
    {% endif %}

{% endblock %}