{% extends 'cupApp/base.html' %}
{% load static %}
{% block content %}
    <style>
        .ingredients {
            height: 90vh;
        }
    </style>
    <div class="login">
        <p>{{ error }}</p>
        <h1>FORGOT PASSWORD</h1>
        <img src={% static 'img/CGLogoIcon.png' %}>
        <form method="post">
            {% csrf_token %}
            <div class="inputField">

                <input type="text" id="username" placeholder="Username" name="username" required>
            </div>
            <div class="inputField">

                <input type="email" id="email" placeholder="Email" name="email" required>
            </div>

            <div class="loginbutton">
                <button type="submit">Submit</button>
            </div>

            <div class="extralinks">
                <a href={% url 'register' %}>Not a member yet?</a>
            </div>

        </form>
    </div>
{% endblock %}