{% extends 'cupApp/base.html' %}

{% block content %}
    <div class="upper">
        <div class="suggestionView">
            <div class="suggestion">
                <div class="details">
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                    <p>Game will be displayed in here.</p>
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                </div>
            </div>
        </div>
        <div class="categoryBar">
            <p><b>CATEGORIES</b></p>
            {% for category in categorys %}
                <a href="{% url 'categorypage' pk=category.category_name %}">{{ category.category_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="tab">
        <button class="tablinks" onclick="tab(event, 'Weekly')" id="defaultOpen">Description</button>
        <button class="tablinks" onclick="tab(event, 'Monthly')">Comments</button>
        <button class="tablinks" onclick="tab(event, 'General')">Leaderboard</button>
    </div>
    <div id="Weekly" class="tabcontent">
        <div class="about">
            <div class="detailsAbout">
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>About the game.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </div>
        </div>
        <div class="howToPlay">
            <div class="detailsHtp">
                <p>.</p>
                <p>.</p>
                <p>.</p>
                <p>How to play the game.</p>
                <p>.</p>
                <p>.</p>
                <p>.</p>
            </div>
        </div>
    </div>
    <div id="Monthly" class="tabcontent">
        <div class="commentSection">
            <div class="card">
                <div class="photo">
                    <a href="ProfileUser.html"><img src="img/thumbnailuser.png"></a>
                </div>
                <div class="comment">
                    <p>Comment...</p>
                </div>
            </div>
            <div class="card">
                <div class="photo">
                    <a href="ProfileAdmin.html"><img src="img/thumbnailadmin.png"></a>
                </div>
                <div class="comment">
                    <p>Comment...</p>
                </div>
            </div>
            <div class="card">
                <div class="photo">
                    <a href="ProfilePremium.html"><img src="img/thumbnailpremium.png"></a>
                </div>
                <div class="comment">
                    <p>Comment...</p>
                </div>
            </div>
            <div class="commentArea">
                    <textarea id="txtarea" placeholder="Write your comment here." name="textarea" rows="6"
                              cols="173"></textarea>
                <button>Save</button>
            </div>
        </div>
        <div class="General class=tabcontent">
            <p>LEADERBOARD</p>
            <table>
                <tr>
                    <th>username</th>
                    <th>score</th>
                </tr>
                {% for score in scores %}
                    {% if forloop.counter <= 10 %}
                        <tr>
                            <td>{{ score.username }}</td>
                            <td>{{ score.score }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

            </table>
        </div>

    </div>



{% endblock %}
