{% extends 'cupApp/base.html' %}

{% block content %}
    <style>
    .ingredients{
        height:110vh;
    }
    </style>
    <div class="upper">
        <div class="suggestionView">
                <div class="details">
                    <p>.</p>
                    <p>.</p>
                    <p>.</p>
                    <p>Game will be displayed in here.</p>
                    <p>.</p>
                    <p>.</p>
                </div>
        </div>
        <div class="categoryBar">
            <p><b>CATEGORIES</b></p>
            {% for category in categorys %}
                <a href="{% url 'categorypage' pk=category.category_name %}">{{ category.category_name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="tab">
        <button class="tablinks" onclick="tab(event, 'Weekly')" id="defaultOpen">Description</button>
        <button class="tablinks" onclick="tab(event, 'Monthly')">Comments</button>
        <button class="tablinks" onclick="tab(event, 'General')">Leaderboard</button>
    </div>
    <div id="Weekly" class="tabcontent">
        <div class="about">
            <div class="detailsAbout">
                <p>{{ game.about_text }}</p>
            </div>
        </div>
        <div class="howToPlay">
            <div class="detailsHtp">
                <p>{{ game.how_to_play_text }}</p>
            </div>
        </div>
    </div>
    <div id="Monthly" class="tabcontent">
        <div class="commentSection">
            {% for comment in comments %}
                {% if comment.game_name.game_name == game.game_name %}
                    <div class="comment-card">
                        <div class="photo">
                            <a href="{% url 'profile' pk=comment.username.username %}"><img
                                    style="width: 100px; height: 100px;" src="{{ comment.username.profile_pic }}"></a>
                            <p>{{ comment.username.username }}</p>
                        </div>
                        <div class="comment">
                            <p>{{ comment.text }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if request.session.username %}
            <div class="commentArea">
            <form method="post" action="{% url 'gamepage' pk=game.game_name %}">
                {% csrf_token %}
                <textarea name="comment_box" placeholder="Write your comment here."></textarea>
                <button type="submit">Comment</button>
            </form>
        {% else %}
        {% endif %}
        </div>
    </div>
    <div id="General" class="tabcontent">
        <div class="leaderboard">
            <p>LEADERBOARD</p>
            <table align="center">
                <tr>
                    <th>username</th>
                    <th>score</th>
                </tr>
                {% for score in scores %}
                    {% if forloop.counter <= 10 %}
                        <tr>
                            {% if score.game_name.game_name == game.game_name %}
                                <td>{{ score.username }}</td>
                                <td>{{ score.score }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>




{% endblock %}