{% extends 'cupApp/base.html' %}
{% load static %}
{% block content %}
    <style>
        .ingredients {
            height: 90vh;
        }
    </style>
    <div class="login">
        <h1>LOGIN</h1>
        <img  src={% static 'img/CGLogoIcon.png' %}>
        <form method="post" action="{% url 'login' %}">
            <p>{{ error }}</p>
            {% csrf_token %}
            <div class="inputField">

                <input type="text" id="username" placeholder="Username" name="username" required>
            </div>
            <div class="inputField">

                <input type="password" id="password" placeholder="Password" name="password" required>
            </div>

                <div class="loginbutton">
                    <button type="submit">Login</button>
                </div>

                <div class="extralinks">
                    <a href="{% url 'forgotPassword' %}">Forgot password?</a><br>
                    <a href={% url 'register' %}>Not a member yet?</a>
                </div>

        </form>
    </div>
{% endblock %}