{% extends 'cupApp/base.html' %}

{% load static %}
{% block content %}
    <style>
        .ingredients {
            height: 150vh;
        }
    </style>
    <div class="profileFunctions">
        {% if account.username == request.session.username %}

            {% if account.type == "AD" %}
                <a href="{% url 'adminpanel' %}">
                    <button>ADMIN PANEL</button>
                </a>
            {% endif %}
            <a href="{% url 'editprofile' pk=request.session.username %} ">
                <button> Edit Profile</button>
            </a>
            <a href="{% url 'accountsettings' pk=request.session.username %} ">
                <button> Account Settings</button>
            </a>

        {% else %}
            {% if request.session.type == "admin" %}
                <a href="{% url 'ban' pk=account.username %}">
                    <button id="ban">BAN</button>
                </a>
                <a href="{% url 'warn' pk=account.username %}">
                    <button id="warn">WARN</button>
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="profile">
        <div class="upperSection">
            <div class="profileCard">
                <img style="width: 100%; height: 10%;" src="{{ account.profile_pic }}">
                <h1>{{ account.username }}</h1>
                <i class="fa fa-money" aria-hidden="true" style="color:goldenrod"></i>
                {{ account.coins }}
                <br>
                <i class="fa fa-level-up" aria-hidden="true" style="color:#4CAF50"></i>
                {{ account.level }}
            </div>
            <div class="about2">
                <h2>About Me</h2>
                <div class="statT">
                    <p>{{ account.about_text }}.</p>
                </div>
            </div>
            <div class="profilestats">
                <h2>Statistics</h2>
                {% if account.type == 'PU' or account.type == 'AD' %}
                        <div class="gameselect">
                        <select class="tablinks" onchange="tab1(event, value)">
                        <option value=""> Choose a game..</option>
                                {% for games in game %}
                                    <option value="{{ games.game_name }}">{{ games.game_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="gamestats">
                            {% for games in game %}
                                <div id="{{ games.game_name }}" class="tabcontent">
                                    {% for stats in statistics %}
                                        {% if games.game_name == stats.game_name.game_name %}
                                            <h3>Play Count: {{ stats.play_count }}</h3>
                                            <h3>Last Score:{{ stats.last_score }}</h3>
                                            <h3>Average Score: {{ stats.average_score }}</h3>
                                            <h3>Rank: {{ stats.rank }}</h3>
                                        {% else %}
                                            <p>There is no stats for the selected game.</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                {% else %}
                    <div class="locked">
                        {% if account.username == request.session.username %}
                            <a href="{% url 'becomepremium' pk=account.username %}">
                        {% endif %}
                        <img src="{% static 'img/lockicon.png' %}">
                        <p> {{ account.username.upper }} IS NOT PREMIUM </p>
                        {% if account.username == request.session.username %}
                            </a>
                        {% endif %}
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="bottomSection">
            <div class="favs">

                <div class="gamesprofile">
                    <p><b>FAVORITE GAMES</b></p>
                    <div class="scrolling-wrapper">
                        {% for favorite in favorites %}
                            <div class="card">
                                <a href="{% url 'gamepage' pk=favorite.game_name.game_name %}">
                                    <img style="width:90px;height:90px;" src="{{ favorite.game_name.thumbnail }}">
                                    <p>{{ favorite.game_name.game_name }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="gamesprofile">
                    <p><b>FAVORITE CATEGORIES</b></p>
                    <div class="scrolling-wrapper">
                        {% for favorite in favcategories %}
                            <div class="card">
                                <a href="{% url 'categorypage' pk=favorite.category_name.category_name %}">
                                    <img style="width:90px;height:90px;"
                                         src="{{ favorite.category_name.thumbnail }}">
                                    <p>{{ favorite.category_name.category_name }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="badges">
                <p style="color:black;font-size:15px;"><b>BADGES</b></p>
                <div class="scrolling-wrapper">
                    {% for badge in ownedBadges2 %}
                        <div class="card">
                            <img style="width:100px;height:100px;" src="{{ badge.badge_name.thumbnail }}">
                            <p>{{ badge.badge_name.badge_name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}