{% extends 'cupApp/base.html' %}
{% load static %}

{% block content %}
    <style>
        .ingredients {
            height: 110vh;
        }
    </style>

    <div class="suggestTables">
        <a href="{% url 'adminpanel' %}" style="font-size:35px; color:#E0AE43;"><i class="fa fa-arrow-circle-left"
                                                                                   aria-hidden="true"></i></a>
        <p1>SUGGESTIONS</p1>
        <br>
        <div class="scrolling-wrapper3">
            <table id="suggestTable">
                <tr class="header">
                    <th>UNREAD</th>
                </tr>
                {% for suggestion in newSuggestions %}
                    <tr>
                        <td>
                            <a href="{% url 'suggestion' pk=suggestion.suggestion_id %}">Suggestion {{ suggestion.suggestion_id }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


        <div class="scrolling-wrapper3">
            <table id="suggestTable">
                <tr class="header">
                    <th>CHECKED</th>
                </tr>
                {% for suggestion in checkedSuggestions %}
                    <tr>
                        <td>
                            <a href="{% url 'suggestion' pk=suggestion.suggestion_id %}">Suggestion {{ suggestion.suggestion_id }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>


        <div class="scrolling-wrapper3">
            <table id="suggestTable">
                <tr class="header">
                    <th>STARRED</th>
                </tr>
                {% for suggestion in starredSuggestions %}
                    <tr>
                        <td>
                            <a href="{% url 'suggestion' pk=suggestion.suggestion_id %}">Suggestion {{ suggestion.suggestion_id }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

