.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.container {

}

.logo {
    float: left;
}

.ingredients {
    height: 100vh;
    background-color: pink;
    margin-right: 15%;
    margin-left: 15%;
}

.header {
    background-color: gold;
    overflow: hidden;
}


.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a.active {
    background-color: #4CAF50;
    color: white;
}

.header .icon {
    display: none;
}

.header input[type=text] {

    width: 150px;
    padding: 6px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 17px;
}

.header-right {
    float: right;
    padding: 6px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
    font-size: 17px;
}

.header-right button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.header-right button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.header-right button:active {
    position: relative;
    top: 1px;
}

.paragraph {
    float: left;
}

.suggest {
    width: 200px;
    float: right;
}

.suggest button {

    margin-top: 25%;
    margin-right: 50%;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.suggest button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.suggest button:active {
    position: relative;
    top: 1px;
}

.bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 68.5%;
    margin-right: 15px;
    margin-left: 15px;
    height: 150px;

}

.leaderboard table {
    background-color: gold;
    width:60%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

}

.leaderboard p {
    text-align: center;
    font-weight: bold;
}

.leaderboard th, td {
    text-align: center;
    padding: 16px;
}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2;
}