body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

.container {

}

.logo {
    float: left;
}

.profileFunctions {
    background-color: #2196F3;
    margin-left:10%;
    width: 80%;


}
.profileFunctions button{
    float: right;
    margin-top: 3%;
    box-shadow: inset 0 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.profileFunctions button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.profileFunctions button :active {
    position: relative;
    top: 1px;
}

.ingredients {
    height:110vh;
    background-color: pink;
    margin-right: 15%;
    margin-left: 15%;
}

.header {
    background-color: gold;
    overflow: hidden;
}


.header a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.header a.active {
    background-color: #4CAF50;
    color: white;
}

.header .icon {
    display: none;
}

.header input[type=text] {

    width: 150px;
    padding: 6px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;

    font-size: 17px;
}

.header-right {
    float: right;
    padding: 6px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
    font-size: 17px;
}

.header-right button{
    box-shadow: inset 0 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.header-right button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.header-right button :active {
    position: relative;
    top: 1px;
}

.header2 {
    background-color: yellow;
    overflow: hidden;
    height: 30px;
}
.header2 p1 {
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

.header2 p2 {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}
.tab1{
    background-color:pink;
}

.categoryBar {
    width: 13%;

    float: right;
    background: #eee;
}


.categoryBar p {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    background-color: gold;
    border: 10px;
}

.categoryBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;

}

.categoryBar a:hover {
    color: #064579;
}

.scroll {
    height: 200px;
    overflow: auto;
    white-space: nowrap;
    margin: 10px;

}

.gamepart {
    float: left;
    margin-left: 50px;
    background-color: gold;
    width: 60%;
    height: 58%;
}

.games {
    margin: 25px auto;
    width: 94.7368%;
    background-color: #eee;
    text-align: center;
    color: black;
}

#games2 {
    margin-top: 25px;
}

.games p {
    font-family: Arial, serif;
}

.gamepart2 {
    margin-top: 50px;
    float: left;
    background-color: gold;
    width: 100%;
    height: 22%;
}
.games2 {
    float:left;
    margin: 20px auto;
    width: 100%;
    background-color: white;
    text-align: center;
    color: black;
}

#games2id {

    margin-top: 25px;
}

.games2 p {
    font-family: Arial, serif;
}

.card {
    margin-left: 15px;
    margin-right: 15px;

    width: 100px;
    display: inline-block;

}

.card a {
    text-align: justify;
    width: 100px;
}

.leaderboard {
    width: 22%;
}

.leaderboard table {
    background-color: gold;
    width: 10%;
    float: left;
    margin-left: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;

}

.leaderboard p {
    text-align: center;
    font-weight: bold;
}

.leaderboard th, td {
    text-align: center;
    padding: 16px;
}

.leaderboard tr:nth-child(even) {
    background-color: #f2f2f2;
}

.bottom {
    background-color: white;
    margin-bottom:10px;
    margin-right: 15%;
    margin-left: 15%;
    height: 150px;

}

.paragraph {
    float: left;
}

.suggest {
    width: 200px;
    float: right;
}

.suggest button {
    margin-top: 10%;
    margin-right: 50%;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.suggest button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.suggest button:active {
    position: relative;
    top: 1px;
}

.profileCard {
    background-color:thistle;
    float:left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 18%;


  font-family: arial;
}
.profileCard h1{
    text-align:center;
}
.profileCard img{
    border:4px solid mediumpurple;

}
.profileCard i{
    margin-left:10px;
    margin-right:10px;
    float:left;
}


.profile{
    border: 5px solid purple;
    height:60vh;
    width:80%;
    margin-top:5%;
    margin-left:10%;
    margin-right:10%;
}
.upperSection{

    height:60%;
}
.favs {

    margin-left: 5%;
    float:left;

    width: 45%;
    height: 90%;
}

.favoriteGames {
    margin: 10px auto;
    width: 100%;
    background-color: thistle;
    text-align: center;
    color: black;
}
.scroll2 {
    height: 110px;
    overflow: auto;
    white-space: nowrap;


}
.statistics{
    font-weight:bold;
    font-family:Calibri;
    font-size:20px;
    float:right;
    background-color:thistle;
    width:25%;
    height:90%;
    margin-top:1.5%;
    margin-right:2%;
    padding-left:1%;
    padding-right:1%;
}
.gameChoice{

    width:80%;


}
.gameChoice select{
    left-margin:10%;

}

.stat{
    margin-top:2%;
    height:50%;
    border:3px solid grey;
}
.bottomSection{

    height:40%;
}

.about{
    font-weight:bold;
    font-family:Calibri;
    font-size:20px;
    float:left;
    background-color:thistle;
    width:40%;
    height:90%;
    margin-top:1%;
    margin-left:2%;
    padding-left:1%;
    padding-right:1%;
}
.statT{
    margin-top:2%;
    height:50%;
    border:3px solid grey;
}
.badges{
    font-weight:bold;
    font-family:Calibri;
    font-size:20px;
    float:left;
    background-color:thistle;
    width:45%;
    height:90%;
    margin-top:1%;
    margin-left:2%;
    padding-left:1%;
    padding-right:1%;
}
.badgeImages{
    margin-top:10%;

    display:inline-block;
}
