html {
    height: 100%;
}

body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #222222;
    color: #cccccc;
}

button:focus {
    outline: none;
}

.logo {
    float: left;
}

.ingredients {
    background-color: #2B2B2B;

}


#commentTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 3px solid #E0AE43; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    font-weight: bold;
}

#commentTable th {

    color: #2B2B2B;
}

#commentTable th, #commentTable td {
    max-width:80%;
    text-align: left;
    padding: 12px;
    word-wrap:break-word;
    white-space: pre-wrap;
}

#commentTable tr {
    border-bottom: 3px solid #E0AE43;
}

#commentTable a {
    color: #cccccc;
}
#commentTable p {
    max-width: 500px;
}

#commentTable a:hover, a:focus, a:active {
    color: #E0AE43;
    text-decoration: none;
}

#commentTable tr.header{
    background-color: #E0AE43;
}




textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 30%;
    max-height: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-top-color: #E0AE43;
    border-bottom-color: #E0AE43;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    box-sizing: border-box;
    background-color: #575454;
    align-content: center;
}

textarea::-webkit-input-placeholder {
    font-weight: bold;
    color: #222222;
}

textarea::-webkit-scrollbar {
    height: 11px;
}

textarea::-webkit-scrollbar-track {
    background: #222222;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #222222;
    border: 2px solid #E0AE43;
}

.commentArea button {
    margin-left: 45%;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: #ededed linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #777777;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.commentArea button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.commentArea button:active {
    position: relative;
    top: 1px;
}

.container {

    height: 100%;
}

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: #2B2B2B;
}

body::-webkit-scrollbar-thumb {
    background-color: #575454;
    border: 3px solid #2B2B2B;
}

.header {
    background-color: #2B2B2B;
    overflow: hidden;

}

.header-right {
    margin-top: auto;
    margin-bottom: auto;
    float: right;
    margin-right: 16px;
    padding: 10px;
}

.header-right button {
    font-weight: bold;
    background: #C64539;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    border: none;
}

.header-right button:hover {
    background: #ED7166;
}

.header input[type=text] {
    margin-left: 40px;
    font-color: white;
    width: 120px;
    padding: 4px 24px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #575454;
    font-size: 17px;
}

#searchiconbutton {
    background-color: #E0AE43;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.suggestionView {
    margin-top: 5%;
    float: left;
    margin-left: 3%;
    width: 75%;
    height: 100%;
    border: 5px solid #575454;
}

.gamewindow {
    width: 100%;
    height: 100%;
    background: black;
}

.upper {
    width: 100%;
    height: 50%;
}

.suggestionView p {
    text-align: center;
    font-size: 30px;
}

.suggestionX {
    height: 50%;
    margin: 5% auto 5%;
    width: 50%;
    padding: 16px;
    background-color: #575454;
}

.suggestionX button {
    width: 100px;
    height: 30px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.suggestionX p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


.checks {
    text-align: center;
}

.lefttab {
    display: inline-block;
    width: 75%;
}

#leader {
    float: left;
}

#becomeP {
    background-color: #E0AE43;
}

.header2 {
    background-color: #575454;
    overflow: hidden;
    height: 30px;
}

.header2 p1, p2 {
    margin-left: 10px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 18px;
}

.categoryBar {
    margin-top: 55px;
    width: 20%;
    float: right;
    background: #2E2D2D;
    border: 3px solid #C64539;

}

.categoryBar p {
    font-size: 100%;
    text-align: center;
    background-color: #575757;
}

.categoryBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #C64539;
    display: block;
    border: 1px solid #575757;

}

.categoryBar a:hover {
    color: #ED7166;
    background-color: #575757;
}

.tab1 {
    width: 100%;
}

.tab2 {
    width: 100%;
}

.scrolling-wrapper {
    height: 150px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.scrolling-wrapper::-webkit-scrollbar {
    height: 11px;
}

.scrolling-wrapper::-webkit-scrollbar-track {
    background: #222222;
}

.scrolling-wrapper::-webkit-scrollbar-thumb {
    background-color: #222222;
    border: 2px solid #E0AE43;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    margin-left: 3%;
    width: 75%;
}

.about {
    float: left;
    border: 2px solid black;
    width: 49.5%;
    height: 50%;
}


.howToPlay {
    float: right;
    border: 2px solid black;
    width: 49.5%;
    height: 50%;
}

.gamepart {
    float: right;
    width: 70%;
    height: 60%;
}

.games {
    border: 4px solid #222222;
    margin-top: 50px;
    width: 100%;
    background-color: #575454;
    text-align: center;
    color: black;
}


#games2 {
    margin-top: 50px;
}

.games p {
    font-family: Arial, serif;
}

.gamepart2 {
    float: right;
    width: 90%;
    height: 60%;
    margin-bottom: 3%;
}

.games2 {
    float: left;

    margin: 25px auto;
    width: 50%;
    background-color: blue;
    text-align: center;
    color: black;
}

#games2id {

    margin-top: 25px;
}

.games2 p {
    font-family: Arial, serif;
}

.card {
    width: 100px;
    display: inline-block;
    margin-left: 15px;
}

.card a {
    color: #E0AE43;
    text-align: center;
    width: 100px;
}

.leaderboard {
    width: 20%;
    margin-left: 1%;
}

.leaderboard table {
    background-color: #2B2B2B;
    float: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: 3px solid #E0AE43;

}

.suggestionTable table {
    background-color: #2B2B2B;
    float: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: 3px solid #E0AE43;
    max-height: 70%;
    overflow-y: auto;

}

.suggestionTable p {
    margin-top: 15px;
    color: #E0AE43;
    text-align: center;
    font-weight: bold;
}

.suggestionTable th, td {
    text-align: center;
    padding: 16px;

}

.suggestionTable tr:first-child {
    background-color: #E0AE43;
    color: black;
}

.suggestionTable tr:nth-child(even) {
    background-color: #2E2D2D;
}


.leaderboard p {
    margin-top: 15px;
    color: #E0AE43;
    text-align: center;
    font-weight: bold;
}

.leaderboard th, td {
    text-align: center;
    padding: 16px;

}

.leaderboard tr:first-child {
    background-color: #E0AE43;
    color: black;
}

.leaderboard tr:nth-child(even) {
    background-color: #2E2D2D;
}


.bottom {
    border: 5px solid #2B2B2B;
    background-color: #575454;
    margin-bottom: 10px;
    height: 150px;

}

.paragraph {
    float: left;
    width: 75%;
    height: 100%;
}

.paragraph p {
    width: 90%;
    font-weight: bold;
    font-size: 20px;
    color: #222222;
    word-wrap: break-word;
    text-align: center;
}

.suggest {
    width: 25%;
    height: 100%;
    float: right;
}

.suggest button {
    margin-top: 10%;
    width: 70%;
    height: 50%;
    font-weight: bold;
    background: #E0AE43;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    border: none;
}

.suggest button:hover {
    background: #dfdfdf linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
}

.suggest button:active {
    position: relative;
    top: 1px;
}


.leaderboardtables {
    margin-left: 40%;
}

.suggestTables {
    height:80%;
    width: 100%;
    margin-top: 5%;
    text-align:center;
}

.suggestTables p1 {
    margin:auto;
    width:50%;
    font-size: 30px;
    font-weight: bold;
}

.leaderboardtables p {
    text-align: center;
    margin-left: 35%;
}

.tab {
    margin-left: 3%;
    width: 75%;
    overflow: hidden;
    background-color: #575454;

}

.tab button {
    margin-left: 3%;
    font-weight: bold;
    background: #575454;
    cursor: pointer;
    color: #E0AE43;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    border: none;
}

.tab button:hover {
    color: #2B2B2B;
    background-color: #E0AE43;
}

.tab button.active {
    color: #2B2B2B;
    background-color: #E0AE43;
}

.login {
    height: 50%;
    margin: 5% auto 5%;
    width: 50%;
    padding: 16px;
    background-color: #575454;
}

.login h1 {
    color: #E0AE43;
    text-align: center;
    margin-top: 0;

}

.login input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-top-color: #E0AE43;
    border-bottom-color: #E0AE43;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    box-sizing: border-box;
    background-color: #575454;
    align-content: center;
}

.loginbutton {
    width: 50%;
    float: left;
}

.login input:focus {
    outline: none;
}

.login input::-webkit-input-placeholder {
    font-weight: bold;
    color: #222222;
}

.login button {
    width: 100px;
    height: 30px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.login button:hover, button:focus {
    outline: 0;
    background-color: #ffcc00;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.login a {
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
}

.login a:hover, a:active {
    text-decoration: none;
    color: darksalmon;
}

.extralinks {
    font-size: 16px;
    text-align: right;
    float: right;
    width: 50%;
}

.login img {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.accountsettings {
    height: 70%;
    margin: 5% auto 5%;
    width: 50%;
    padding: 16px;
    background-color: #575454;
}

.accountsettings select {
    background-color: #575454;
}

.gender p {
    float: left;
}

.accountsettings h1 {
    color: #E0AE43;
    text-align: center;
    margin-top: 0;

}

.accountsettings input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-top-color: #E0AE43;
    border-bottom-color: #E0AE43;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    box-sizing: border-box;
    background-color: #575454;
    align-content: center;
}


.accountsettings input:focus {
    outline: none;
}

.accountsettings input::-webkit-input-placeholder {
    font-weight: bold;
    color: #222222;
}

.accountsettings button {
    width: 100px;
    height: 30px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.accountsettings button:hover, button:focus {
    outline: 0;
    background-color: #ffcc00;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.accountsettings a {
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
}

.accountsettings a:hover, a:active {
    text-decoration: none;
    color: darksalmon;
}

.accountsettings img {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.register {
    height: 70%;
    margin: 5% auto 5%;
    width: 50%;
    padding: 16px;
    background-color: #575454;
}

.register h1 {
    color: #E0AE43;
    text-align: center;
    margin-top: 0;

}

.register input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-top-color: #E0AE43;
    border-bottom-color: #E0AE43;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    box-sizing: border-box;
    background-color: #575454;
    align-content: center;
}


.register input:focus {
    outline: none;
}

.register input::-webkit-input-placeholder {
    font-weight: bold;
    color: #222222;
}

.register button {
    width: 100px;
    height: 30px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.register button:hover, button:focus {
    outline: 0;
    background-color: #ffcc00;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.register a {
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
}

.register a:hover, a:active {
    text-decoration: none;
    color: darksalmon;
}

.register img {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.genderChoice {
    background-color: #575454;
}

.adminFunctions {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 70%;
}

.buttons {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;

}

.buttons p1 {
    font-size: 30px;
    font-weight: bold;
}

.buttons button {
    width: 80%;
    height: 15%;
    margin-top: 5%;
    font-weight: bold;
    background: #E0AE43;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    border: none;
}

.searchAGame {
    width: 90%;
    margin: auto;
}

#searchInput {
    background: #2B2B2B;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 3px solid #C64539; /* Add a grey border */
    margin-bottom: 12px;
}

#searchInput:focus {
    outline: none;
}

#searchTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 3px solid #C64539; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    font-weight: bold;
}

#searchTable th {

    color: #2B2B2B;
}

#searchTable th, #searchTable td {
    text-align: center;
    padding: 12px;

}

#searchTable tr {
    border-bottom: 3px solid #C64539;
}

#searchTable a {
    color: #cccccc;
}

#searchTable a:hover, a:focus, a:active {
    color: #2B2B2B;
    text-decoration: none;
}

#searchTable tr.header, #searchTable tr:hover {
    background-color: #C64539;
}

.scrolling-wrapper2 {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.scrolling-wrapper2::-webkit-scrollbar {
    height: 11px;
}

.scrolling-wrapper2::-webkit-scrollbar-track {
    background: #222222;
}

.scrolling-wrapper2::-webkit-scrollbar-thumb {
    background-color: #C64539;
    border: 2px solid #222222;
}

.categoryFavorite {
    width: 100%;
}


.profileFunctions {
    margin-top: 3px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.profileFunctions button {
    float: right;
    height: 15%;
    font-weight: bold;
    background: #E0AE43;
    cursor: pointer;
    color: #2B2B2B;
    font-size: 15px;
    padding: 6px 24px;
    text-decoration: none;
    border: none;
}

#ban {
    background: #C64539;
}

#warn {
    background: #C64539;
}

#ban:hover {
    background: #F76B5E;
}

#warn:hover {
    background: #F76B5E;
}

.profileFunctions button:hover {
    background: #FFCC5E;
}

.profileFunctions button :active {
    position: relative;
    top: 1px;
}

.profile {
    border: 5px solid black;
    height: 100vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 37px;
}

.upperSection {
    width: 100%;
    height: 45%;
}

.bottomSection {
    width: 100%;
    height: 55%;
}

.profileCard {
    margin-top: 1%;
    background-color: #2B2B2B;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
}

.profileCard h1 {
    text-align: center;
}

.profileCard img {
    border: 4px solid grey;

}

.profileCard i {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.about2 {
    background-color: #575454;
    float: left;
    height: 100%;
    width: 40%;
    margin-top: 1%;
    margin-left: 1%;

}

.about2 h2 {
    text-align: center;
}

.statT {
    margin-left: 1%;
    width: 100%;
}

.statT p {

    width: 90%;
    word-wrap: break-word;
}

.profilestats {
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    width: 35%;
    height: 100%;
    background-color: #575454;
    text-align: center;
}

.profilestats p {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.profilestats h2 {
    text-align: center;
}

.gameselect {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 10%;
}

.gamestats {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 70%;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

select {
  background-color: #2B2B2B;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 15px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: none;
}

.gameselect::before {
  content: "\f13a";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.gameselect:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

select option {
  padding: 18px;
}

.favs {

    float: left;
    margin-top: 1%;
    margin-left: 2.5%;
    width: 45%;
    height: 90%;
}


.gamesprofile {
    width: 100%;
    background-color: #575454;
    text-align: center;
    color: black;
}

.badges {
    font-size: 20px;
    float: left;
    background-color: #575454;
    width: 45%;
    margin-top: 1%;
    margin-left: 4%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.badges p {
    font-weight: bold;
    font-size: 12px;
}

.ban {
    height: 50%;
    margin: 5% auto 5%;
    width: 50%;
    padding: 16px;
    background-color: #575454;
}

.ban h1 {
    color: #E0AE43;
    text-align: center;
    margin-top: 0;

}

.ban input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-top-color: #E0AE43;
    border-bottom-color: #E0AE43;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    box-sizing: border-box;
    background-color: #575454;
    align-content: center;
}

.ban input:focus {
    outline: none;
}

.ban input::-webkit-input-placeholder {
    font-weight: bold;
    color: #222222;
}

.ban button {
    width: 100px;
    height: 30px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.ban button:hover, button:focus {
    outline: 0;
    background-color: #ffcc00;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.ban a {
    margin-left: auto;
    margin-right: auto;
    color: #cccccc;
}

.ban a:hover, a:active {
    text-decoration: none;
    color: darksalmon;
}


.ban img {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
}

.playCheck {
    height: 100%;
    width: 100%;
}

.formclass {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formclass button {
    width: 170px;
    height: 60px;
    background-color: #E0AE43;
    color: #222222;
    border: 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.scrolling-wrapper3 {
    display:inline-block;
    width:20%;
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
}

.scrolling-wrapper3::-webkit-scrollbar {
    height: 11px;
}

.scrolling-wrapper3::-webkit-scrollbar-track {
    background: #222222;
}

.scrolling-wrapper3::-webkit-scrollbar-thumb {
    background-color: #E0AE43;
    border: 2px solid #222222;
}

#suggestTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 3px solid #E0AE43; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    font-weight: bold;
}

#suggestTable th {
    color: #2B2B2B;
}

#suggestTable th, #suggestTable td {
    text-align: center;
    padding: 12px;

}

#suggestTable tr {
    border-bottom: 3px solid #E0AE43;
}

#suggestTable a {
    color: #cccccc;
}

#suggestTable a:hover, a:focus, a:active {
    color: #2B2B2B;
    text-decoration: none;
}

#suggestTable tr.header, #suggestTable tr:hover, #suggestTable tr:hover a {
    background-color: #E0AE43;
    color: #2B2B2B;
}